<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.5.1.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='hscroll.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='live.js') }}"></script>

    <title>{{ "%s -- " % text if text else "" }}jboski</title>
</head>
<body>
    <form action="{{ url_for('index') }}" method="GET">
      <p>
        <input
          id="input"
          name="text"
          value="{{ request.args.get('text') if request.args.get('text') else '' }}"
          placeholder="coi pilno mi'e jboski"
          autofocus="autofocus"
          autocomplete="off"
          required="required"
          size="80"
          class="{{ 'grammatical' if grammatical else 'ungrammatical' }}"
        />
        <a href="static/about.html">About</a>
      </p>
      <p>
        <label for="mode">Mode:</label>
        <select name="mode" id="mode" required="required" selected="condensed">
          <option value="plain" {{ ('selected' if request.args.get('mode') == 'plain' else '') if request.args.get('mode') else '' }}>plain</option>
          <option value="expanded" {{ ('selected' if request.args.get('mode') == 'expanded' else '') if request.args.get('mode') else '' }}>expanded</option>
          <option value="condensed" {{ ('selected' if request.args.get('mode') == 'condensed' else '') if request.args.get('mode') else 'selected' }}>condensed</option>
          <option value="condensed_robust" {{ ('selected' if request.args.get('mode') == 'condensed_robust' else '') if request.args.get('mode') else '' }}>condensed (robust)</option>
        </select>
      </p>
    </form>


    <div id="output">
        {{ parsed|safe }}
    </div>
  </body>
</html>
